body {
  background-color: silver;
}

.auswahl {
  float: left;
  position: relative;
  background: white;
  height: 120px;
  width: 100px;
  margin: 20px;
  padding: 10px;
  font-size: 100px;
  box-shadow: 15px 15px 15px grey;
}

.aussehen-quiz-box {
  font-size: 20px;
  background: #c2cfe4;
  border-radius: 70px;
  width: 550px;
  height: 150px;
  border: 20px solid #264b87;
  margin: 30px auto;
  text-align: center;
  box-shadow: inset 20px 10px 15px gray;
}

.button-container {
  width: 500px;
  height: 200px;
  margin: 1px auto;
  text-align: center;
}
